<div class="home-container">
  <h1 class="app-name">Budget Buddy</h1>
  <div class="btn-wrapper">
    <%= link_to "LOG IN", new_user_session_path, class: "login-btn" %>
    <%= link_to "SIGN UP", new_user_registration_path, class: "sign-up-btn" %>
    <%#= button_to 'Log out', destroy_user_session_path, method: :delete, class: "btn" %>
  </div>
</div>
