* {
  margin: 0;
  padding: 0;
}
.home-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(236, 219, 198);
}

.app-name {
  margin-top: 30vh;
}

.btn-wrapper {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 2%;
}

.login-btn,
.sign-up-btn {
  width: 98%;
  background: #3778c2;
  padding: 20px 0;
  text-align: center;
  color: #fff;
  font-weight: 700;
  border-radius: 2px;
}

.sign-up-btn {
  background: #cdc7c7;
  color: #000
}
